client-net/Service References/ShopServiceReference/ShopService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="createUser">
    <xs:sequence>
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="usernameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="createUser" nillable="true" type="tns:createUser" />
  <xs:complexType name="createUserResponse">
    <xs:sequence>
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="passwordField" nillable="true" type="xs:string" />
      <xs:element name="useridField" nillable="true" type="xs:string" />
      <xs:element name="usernameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="createUserResponse" nillable="true" type="tns:createUserResponse" />
  <xs:complexType name="loginUser">
    <xs:sequence>
      <xs:element name="passwordField" nillable="true" type="xs:string" />
      <xs:element name="usernameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="loginUser" nillable="true" type="tns:loginUser" />
  <xs:complexType name="loginUserResponse">
    <xs:sequence>
      <xs:element name="balanceField" type="xs:float" />
      <xs:element name="successField" type="xs:boolean" />
      <xs:element name="useridField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="loginUserResponse" nillable="true" type="tns:loginUserResponse" />
  <xs:complexType name="userDetails">
    <xs:sequence>
      <xs:element name="userField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userDetails" nillable="true" type="tns:userDetails" />
  <xs:complexType name="userDetailsResponse">
    <xs:sequence>
      <xs:element name="balanceField" type="xs:float" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="useridField" nillable="true" type="xs:string" />
      <xs:element name="usernameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userDetailsResponse" nillable="true" type="tns:userDetailsResponse" />
  <xs:complexType name="purchaseProduct">
    <xs:sequence>
      <xs:element name="productField" nillable="true" type="xs:string" />
      <xs:element name="userField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="purchaseProduct" nillable="true" type="tns:purchaseProduct" />
  <xs:complexType name="purchaseProductResponse">
    <xs:sequence>
      <xs:element name="balanceField" type="xs:float" />
      <xs:element name="successField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="purchaseProductResponse" nillable="true" type="tns:purchaseProductResponse" />
  <xs:complexType name="productList">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="productList" nillable="true" type="tns:productList" />
  <xs:complexType name="historyList">
    <xs:sequence>
      <xs:element name="userField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="historyList" nillable="true" type="tns:historyList" />
</xs:schema>