client-net/Service References/ShopServiceReference/ShopService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://arvici.nl/ahshop/wsinterface" elementFormDefault="qualified" targetNamespace="http://arvici.nl/ahshop/wsinterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ahshop-server.azurewebsites.net/ShopService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="data" nillable="true" type="q1:CreateUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="CreateUserResult" nillable="true" type="q2:ServiceResponseOfUserUEsMBek5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="data" nillable="true" type="q3:LoginUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="LoginUserResult" nillable="true" type="q4:ServiceResponseOfUserUEsMBek5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="data" nillable="true" type="q5:UserDetailsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="UserDetailsResult" nillable="true" type="q6:ServiceResponseOfUserUEsMBek5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="data" nillable="true" type="q7:PurchaseProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="PurchaseProductResult" nillable="true" type="q8:ServiceResponseOfPurchaseUEsMBek5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="ProductListResult" nillable="true" type="q9:ServiceResponseOfArrayOfProductUEsMBek5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="data" nillable="true" type="q10:HistoryListData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="HistoryListResult" nillable="true" type="q11:ServiceResponseOfArrayOfPurchaseUEsMBek5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>