client-net/Service References/ShopServiceReference/ShopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://arvici.nl/ahshop/wsinterface" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShopService" targetNamespace="http://arvici.nl/ahshop/wsinterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://ahshop-server.azurewebsites.net/ShopService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://arvici.nl/ahshop/wsinterface/Imports">
      <xsd:import schemaLocation="http://ahshop-server.azurewebsites.net/ShopService.svc?xsd=xsd0" namespace="http://arvici.nl/ahshop/wsinterface" />
      <xsd:import schemaLocation="http://ahshop-server.azurewebsites.net/ShopService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ahshop-server.azurewebsites.net/ShopService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShopService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IShopService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IShopService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_UserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UserDetails" />
  </wsdl:message>
  <wsdl:message name="IShopService_UserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_PurchaseProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseProduct" />
  </wsdl:message>
  <wsdl:message name="IShopService_PurchaseProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseProductResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_ProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductList" />
  </wsdl:message>
  <wsdl:message name="IShopService_ProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_HistoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:HistoryList" />
  </wsdl:message>
  <wsdl:message name="IShopService_HistoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:HistoryListResponse" />
  </wsdl:message>
  <wsdl:portType name="IShopService">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/CreateUser" message="tns:IShopService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/CreateUserResponse" message="tns:IShopService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/LoginUser" message="tns:IShopService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/LoginUserResponse" message="tns:IShopService_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserDetails">
      <wsdl:input wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/UserDetails" message="tns:IShopService_UserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/UserDetailsResponse" message="tns:IShopService_UserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseProduct">
      <wsdl:input wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/PurchaseProduct" message="tns:IShopService_PurchaseProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/PurchaseProductResponse" message="tns:IShopService_PurchaseProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductList">
      <wsdl:input wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/ProductList" message="tns:IShopService_ProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/ProductListResponse" message="tns:IShopService_ProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HistoryList">
      <wsdl:input wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/HistoryList" message="tns:IShopService_HistoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://arvici.nl/ahshop/wsinterface/IShopService/HistoryListResponse" message="tns:IShopService_HistoryList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ShopService">
    <wsdl:port name="BasicHttpBinding_IShopService" binding="i0:BasicHttpBinding_IShopService">
      <soap:address location="http://ahshop-server.azurewebsites.net/ShopService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>