wsinterface/src/main/webapp/wsdl/header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://schemas.arvici.nl/messages/header"
        xmlns:header="http://schemas.arvici.nl/messages/header"
        elementFormDefault="qualified">

    <element name="header" type="header:PowerHeader" />

    <complexType name="PowerHeader">
        <sequence>
            <element name="id" type="int" minOccurs="0" maxOccurs="1" />
            <element name="name" type="string" minOccurs="0" maxOccurs="1" />
        </sequence>
    </complexType>
</schema>
