wsinterface/src/main/webapp/wsdl/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://schemas.arvici.nl/model"
        xmlns:mdl="http://schemas.arvici.nl/model"
        elementFormDefault="qualified">

    <element name="Product" type="mdl:Product" />
    <complexType name="Product">
        <sequence>
            <element name="productid" type="positiveInteger" />
            <element name="name" type="string" />
            <element name="quantity" type="integer" />
            <element name="price" type="float" />
        </sequence>
    </complexType>

</schema>
